{{ define "head" }}
  {{ partial "jsonld.html" . }}
{{ end }}

{{ define "main" }}
<div class="w-full flex items-center justify-center max-w-4xl lg:max-w-5xl">
  <div
    class="prose prose-stone dark:prose-invert flex flex-col mt-6 mx-2 md:mx-0 rounded-lg overflow-hidden shadow-md bg-stone-50 dark:bg-stone-700">
    <div>
      <a href="{{ .RelPermalink }}">
        {{ partial "block/image.html" . }}
      </a>
    </div>
    <div class="flex flex-col gap-y-3 p-6">
      <h1 class="text-4xl font-semibold text-stone-800 dark:text-stone-100">
        <a class="text-4xl font-semibold text-stone-800 dark:text-stone-100"
          href="{{ .RelPermalink }}">{{ .Title | .RenderString }}</a>
      </h1>

      {{ with .Description }}
      <h2 class="my-4 text-large text-stone-600 dark:text-stone-300">
        {{ . | $.Page.RenderString }}
      </h2>
      {{ end }}
      {{ partial "block/taxonomies.html" .}}

      {{ partial "block/time.html" . }}

      {{ if or .Params.Toc $.Site.Params.Toc }}
        {{ if ne .Params.Toc false }}
        <section class="prose prose-stone dark:prose-invert w-full max-w-4xl lg:max-w-5xl mt-6">
          <h2>{{ T "table_of_contents" }}</h2>
          <aside>{{ .TableOfContents }}</aside>
        </section>
        {{ end }}
      {{ end }}

      <article class="mt-6 w-full max-w-4xl lg:max-w-5xl prose prose-stone dark:prose-invert prose-quoteless post-content">
        {{ .Content | safeHTML }}
      </article>

      {{ partial "comments.html" . }}

    </div>
  </div>
</div>
{{ end }}
