<section class="pl-6 mt-6 w-full max-w-4xl lg:max-w-5xl">
  <form class="" action={{ relLangURL "search/" }} method="get">
    <div class="flex">
      <input type="text" name="search" id="search-input" required placeholder="{{ T "search.placeholder" }}"
        class="rounded-none rounded-s-lg border border-stone-300 text-stone-800 focus:outline-none focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-3  dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-stone-200 dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <button
        class="inline-flex items-center px-3 text-sm text-stone-900 bg-stone-200 border border-e-0 border-stone-300 rounded-e-lg dark:bg-stone-600 dark:text-stone-400 dark:border-stone-600">
        <i class="h-6 w-6 flex-none">
          {{ partial "icon.html" "search" }}
        </i>
      </button>
    </div>
  </form>
</section>

{{ range $taxonomy, $terms := site.Taxonomies }}
  {{ if $terms }}
  {{ partial "block/sidebar_section.html" (dict "Context" $terms "Taxonomy" $taxonomy "Limit" 10) }}
  {{ end }}
{{ end }}
